[*.yml]
indent_size = 2
go build -tags nogcs,nos3,nosqlite -ldflags "-s -w -X github.com/aKardasz/sftpgo/v2/internal/version.commit=`git describe --always --abbrev=8 --dirty` -X github.com/aKardasz/sftpgo/v2/internal/version.date=`date -u +%FT%TZ`" -o sftpgo